html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Encode Sans SemiBold';
    src: url(EncodeSansCondensed-SemiBold.ttf);
}

.container {
    position: relative;
    width: 80vw;
    max-height: 85vh;

    aspect-ratio: 1 / 1;
    margin: 0 auto;
}

.screenFrame {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 100%;
    width: 100%;
    object-fit: fill;
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.screen {
    position: absolute;
    left: 8%;
    top: 8%;

    width: 83%;
    height: 82%;
    z-index: 8;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d130e;
    container-type: inline-size;
    overflow: hidden;

    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.9), 0 0 20px rgba(0, 255, 65, 0.2);

    margin: 0 auto;
}

.screen *{
    filter: blur(0.3px);
}

.screenOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9;

    background:
        linear-gradient(180deg, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        radial-gradient(circle at center, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.5) 100%);
    background-size: 100% 4px, 100% 100%;
}

.desktop {
    width: 100%;
    height: 100%;
}

.taskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #D15C91;
    width: 100%;
    height: fit-content;
    max-height: 5cqi;
    gap: 0.5cqi;

    margin: 0;
    padding: 0;
}

.taskbarIcons {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5cqi;
    gap: 0.5cqi;
}

.taskbarIcons img {
    width: 2.5cqi;
    max-height: 100%;
}

.startButton {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: fit-content;
    background-color: #4A9546;
    border-top-right-radius: 16cqi;
    border-bottom-right-radius: 16cqi;
    padding: 0.8cqi;
    gap: 0.4cqi;
    box-sizing: border-box;
    align-items: center;
}

.startButton p {
    font-family: 'Encode Sans SemiBold';
    text-align: left;
    font-size: 1.5cqi;
    margin: 0;
    color: #FFFAFC;
}
.startButton img {
    width: 2.5cqi;
    max-height: 100%;
}