*{
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Encode Sans SemiBold';
    src: url(fonts/EncodeSansCondensed-SemiBold.ttf);
}

@font-face {
    font-family: 'Encode Sans Bold';
    src: url(fonts/EncodeSansCondensed-Bold.ttf);
}

@font-face {
    font-family: 'Encode Sans Regular';
    src: url(fonts/EncodeSansCondensed-Regular.ttf);
}

.container {
    position: relative;
    width: 95vmin;
    max-width: 98vw;
    max-height: 98vh;

    aspect-ratio: 4 / 3;
    margin: 0 auto;

    background: black;
}

.screenFrame {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 100%;
    width: 100%;
    object-fit: fill;
    z-index: 10;
    pointer-events: none;

    object-fit: contain;
}

.screen {
    position: absolute;
    left: 8%;
    top: 7%;

    width: 83%;
    height: 82%;
    z-index: 8;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #0d130e;
    container-type: inline-size;
    overflow: hidden;
    cursor: none;

    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.9), 0 0 20px rgba(0, 255, 65, 0.2);

    margin: 0 auto;
}

.screen *{
    filter: blur(0.3px);
}

.screenOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9;

    background:
        linear-gradient(180deg, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
        radial-gradient(circle, rgba(245, 250, 247, 0) 75%, rgba(0, 0, 0, 0.55) 100%);
    background-size: 100% 4px, 100% 100%;
}

.virtualCursor {
    position: absolute;
    width: 24px;
    height: 24px;

    background-image: url(cursors/arrow.cur);
    background-size: contain;
    background-repeat: no-repeat;

    pointer-events: none;
    z-index: 7;
    display: none;
}

.virtualCursor.point {
    background-image: url(cursors/arrow.cur);
}

.virtualCursor.link {
    background-image: url(cursors/link.cur);
}

.virtualCursor.wait {
    background-image: url(cursors/wait.cur);
}

.desktop {
    display: block;

    width: 100%;
    height: 100%;

    background-image: url(bliss.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    contain: layout;

    container-type: inline-size;
}

.window {
    display: flex;
    flex-direction: column;
    position: absolute;

    border: 0.3cqi solid #383034;
    background-color: #FFFAFC;
    
    padding: 0;
    gap: 0;
    margin: 0;

    z-index: 15;
}

.windowTitleBar {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    
    padding: 0 0.5cqi;
    flex-shrink: 0;

    background-color: #D15C91;
    border-bottom: 0.1cqi solid #383034;
    
    width: 100%;
    height: 3cqi;
}

.windowTitleBar p {
    font-family: 'Encode Sans SemiBold';
    font-size: 1.8cqi;
    margin: 0;
    color: #FFFAFC;

    pointer-events: none;
}

.welcomeContent {
    display: flex;
    flex-direction: row;
    
    box-sizing: border-box;
    padding: 2cqi;
    gap: 2cqi;
    width: 100%;
    height: 100%;
}

.taskbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #D15C91;
    width: 100%;
    height: fit-content;
    max-height: 8cqi;
    gap: 0.5cqi;

    margin: 0;
    padding-left: 4cqi;
}

.taskbarIcons {
    display: flex;
    flex-direction: row;

    width: fit-content;
    height: 100%;
    box-sizing: border-box;
    padding: 0.8cqi;
    gap: 0.8cqi;

    user-select: none;
}

.taskbarIcons img {
    width: 3cqi;
    max-height: 100%;
}

.startButton {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: fit-content;
    background-color: #3aa335;
    border-top-right-radius: 16cqi;
    border-bottom-right-radius: 16cqi;
    padding: 0.8cqi;
    gap: 0.8cqi;
    box-sizing: border-box;
    align-items: center;

    user-select: none;
}

.startButton p {
    font-family: 'Encode Sans SemiBold';
    text-align: left;
    font-size: 2cqi;
    margin: 0;
    color: #FFFAFC;
}
.startButton img {
    width: 2.5cqi;
    max-height: 100%;
}